<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- Search form -->
<div class="container">

  <form #f="ngForm" (ngSubmit)="get_results(f)" >
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" ngModel>
      <button type="submit" style="display:none">hidden submit</button>
    </form>
    <div class="row">

    </div>
<ul *ngFor="let result of listResults" class="list-group">
  <li class="list-group-item"> 
    <div>
        Fullname: {{result.full_name}}
    </div>
    <div>
        Description: {{result.description}}
    </div>
    <div>
        Language: {{result.language}}
    </div>
    <div>
        Star count: {{result.stargazers_count}}
    </div>
    <div>
        Update Date: {{result.updated_at}}
    </div> 
  </li>
</ul>
</div>
<router-outlet></router-outlet>
